* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: consolas;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

main {
	position: relative;
	min-width: 300px;
	min-height: 400px;
	padding: 40px 30px;
	border-radius: 20px;
	box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
							10px 10px 70px rgba(0,0,0,0.25),
				inset -5px -5px 15px rgba(0,0,0,0.25),
				inset 5px 5px 15px rgba(0,0,0,0.25);
}

form {
	position: relative;
	display: grid;
}

form input[type="text"] {
	position: relative;
	grid-column: span 4;
	height: 75px;
	width: calc(100% - 20px);
	left: 10px;
	border: none;
	outline: none;
	background: #a7af7c;
	margin-bottom: 16px;
	border-radius: 8px;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.75);
	padding: 10px;
	text-align: right;
	font-size: 3rem;
}

form span {
	position: relative;
	display: grid;
	place-items: center;
	width: 80px;
	height: 80px;
	margin: 8px;
	border-radius: 8px;
	background: linearn-gradient(180deg, #2f2f2f, #3f3f3f);
	box-shadow: inset -8px 0px 8px rgba(0,0,0,0.15),
							inset 0px -8px 8px rgba(0,0,0,0.25),
										0 0 0 2px rgba(0,0,0,0.50),
										10px 20px 25px rgba(0,0,0,0.4);
	user-select: none;
	cursor: pointer;
	font-size: 3rem;
}

form span::before {
	content: '';
	position: absolute;
	top: 3px;
	left: 4px;
	bottom: 14px;
	right: 12px;
	background: linearn-gradient(90deg, #2d2d2d, #4d4d4d);
	border-radius: 10px;
	box-shadow: -5px -5px 15px rgba(0,0,0,0.15),
	10px 5px 10px rgba(0,0,0,0.15);
	border-left: 1px solid #0004;
	border-bottom: 1px solid #0004;
	border-top: 1px solid #0009;
}

form span:active {
	filter: brightness(1.5);
}

form span strong {
	position: relative;
	left: -4px;
	top: -6px;
}

form span #star {
	top: -1px;
}